<!DOCTYPE html>
<html lang="en">
<head>
    <title>diddle 👉👈</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="diddle is a minimalist, mobile friendly, fast and self-hosted scheduling tool, licensed under Apache 2.0.">
    <link rel="stylesheet" href="/static/styles.css"></link>
</head>
<body>
  <h1><a href="/">diddle 👉👈</a></h1>
  {% block content %}{% endblock %}
</body>
</html>
